@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

.chat-widget-container {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    border-radius: 6px;
    overflow: hidden;
    font-family: 'Open Sans', serif;
    color: aliceblue;
    box-shadow: 4px 4px 10px 0 #00000033;
}

.info-bar {
    flex-shrink: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic {
    margin-left: 10px;
}

.title {
    font-size: 1.6rem;
}

.description {
    font-size: .85rem;
}

    .description span {
        margin-left: 10px;
    }

.client-icon, .info-bar {
    background: linear-gradient(120deg, #d5a66e, #d58f6e);
    text-shadow: 0 1px 0 #5a5252cc;
}

.main-panel {
    background: linear-gradient(120deg, #2b2130, #887492);
    flex-grow: 1;
    position: relative;
}

.message {
    flex-grow: 1;
    order: 1;
    margin: 0 0 15px 0;
    padding: 0 10px 0 15px;
}

.messages-container {
    height: 460px;
    padding: 0 5px 30px 0;
    margin: 10px 10px;
    overflow-y: scroll;
}

.message-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .85rem;
}

.client-info {
    display: flex;
    flex-direction: row;
    flex-basis: 140px;
    flex-shrink: 0;
    align-items: center;
}

.client-info {
    margin: 0 0 10px 0;
}

.message-content {
    background: rgba(255, 237, 219, 0.9);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2.65px 2.15px 15px #644d4d;
    color: dimgray;
}

    .message-content:hover {
        -webkit-box-shadow: 0 0 10px #edd4d4;
        box-shadow: 0 0 10px #edd4d4;
    }

.message:hover + .client-info > :first-child {
    box-shadow: 0 0 8px #edd4d4;
}


.date-time {
    font-size: .80rem;
    line-height: 20px;
    padding-left: 5px;
}

.client-icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.2rem;
    margin: 4px;
}

.client-name {
    padding-bottom: 5px;
    font-size: .9rem;
}

input[type='button'] {
    cursor: pointer;
    color: aliceblue;
    background-color: #ff7f7f00;
    box-sizing: border-box;
    border: 0;
    margin: 10px 10px 40px 0;
    font-weight: 900;
    font-size: 1.5rem;
}

input[type='button'], .message, .client-icon {
    cursor: pointer;
}

input[type=button]:hover {
    text-shadow: 0 0 10px #edd4d4;
}

input[type=button]:active {
    font-size: 1.8rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.message-block::after {
    content: "";
    border: 1px solid #a99e92b8;
    align-self: stretch;
    margin: 0;
}